#hero-search {
    height: calc(100dvh - 77.5px);
    background-size: 200vw;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    @include media-breakpoint-up(md) {
        background-position: left;
        background-size: cover!important;
    }

    .hero-inner {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: flex-end;
        @include media-breakpoint-up(md) {
            align-items: center;
        }

        .hero-search-container {
            background-color: var(--evaty-color-background);
            border-radius: 7px 7px 0px 0px;
            @include media-breakpoint-up(md) {
                border-radius: 7px;
            }
            padding: 20px;
            z-index: 1;

            h1 {
                //color: white;
                font-weight: 900;
                font-size: 48px;
                color: var(--evaty-color-text);
            }

            label {
                color: white;
            }

            svg {
                fill: rgb(33, 37, 41);
                cursor: pointer;
            }

            @include media-breakpoint-up(md) {
                padding: 45px;
            }
            @include media-breakpoint-up(lg) {
                padding: 100px;
                h1 {
                    font-size: 48px;
                }
            }

            .primary {
                color: var(--evaty-color-primary-500);
            }
        }
    }

    .header-bg-image {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        z-index: 0;
    }

    #down-click {
        left: 50%;
        bottom: 10px;
        position: absolute;
        fill: white;
        cursor: pointer;
    }
}
