$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

:root {
  --swiper-theme-color: var(--evaty-color-primary-500)!important;
  --evaty-color-evaty-modal-backdrop: rgba(17, 17, 17, .5)
}